
.root{
}

.bottomBar{

    -fx-min-height: 100px;
    -fx-background-color: black;
}
.list-view .scroll-bar:vertical {
    -fx-padding: -10; -fx-opacity: 0;
    -fx-scale-x: 0;
    -fx-background-color: transparent;
}
.list-view .scroll-bar:horizontal {
    -fx-padding: -10; -fx-opacity: 0;
    -fx-scale-x: 0;
    -fx-background-color: transparent;
}

.list-view {
    -fx-padding: 0 0 0 18;
    -fx-background-color: transparent;
}

.searchImport {
    -fx-background-color: #151515;
    -fx-background-radius:10px;
    -fx-text-fill:white;
    -fx-padding:10px;
}

.searchPlaylist{
    -fx-max-width: 210px;
    -fx-padding:7 9 7 20;
    -fx-background-color: #151515;
    -fx-background-radius:10px;
    -fx-border-radius:10px;
    -fx-border-width:2px;
    -fx-border-color:#030202;
    -fx-font-size: 14px;
    -fx-text-fill:white;
}

.list-view .list-cell {
    -fx-font-smoothing-type: gray;
    -fx-max-width: 150px;
    -fx-text-fill:white;
    -fx-font-size: 17px;
    -fx-padding:10 10 10 20;
    -fx-background-color: transparent;
    -fx-background-radius:10px;
    -fx-font-family:"Noto Sans";
}

.list-view .list-cell:hover {    -fx-background-color: #333333;}



.list-view .list-cell:empty {
    -fx-background-color: transparent;
    -fx-background-insets: 0 ;
    -fx-cursor: default;
}

.button{
    -fx-cursor: hand;
    -fx-font-size: 18px;
    -fx-text-fill: white;
    -fx-background-color: transparent;
}


.containerC:hover{
    -fx-background-color: #333333;
}

.containerC{
    -fx-cursor:hand;
    -fx-padding: 5 0 5 30;
    -fx-background-radius:10px;
    -fx-max-width:248px;
    -fx-alignment: CENTER_LEFT;
}

.menu-item{

    -fx-cursor:hand;
    -fx-padding:10;
    -fx-border-with:1px;
    -fx-border-color:white;
}

.menu-item:hover{
    -fx-background-color: #2D819D;
}


.cm{

    -fx-background-color: #262626;

    -fx-padding: 0;
}



.imageViewC{
    -fx-padding:5px;
}

.getBibliotecaLabel{
    -fx-padding:20;
}

.navigationBar{
    -fx-padding: 20 10 10 20;
    -fx-min-width: 290px;


}

.closeButton{
    -fx-padding: 0 15 0 0;
    -fx-min-width: 20;
}

.addPlaylist{
    -fx-background-radius:50%;
    -fx-padding: 7 12 7 12;
}

.addPlaylist:hover{
    -fx-background-color: #333333;
}

.topMenu{
    -fx-padding: 8 0 0 5;

    -fx-background-color: #030202;
}

.label{
    -fx-font-weight: 600;
    -fx-padding: 0 0 0 12;
    -fx-font-size: 17.5px;
    -fx-text-fill: white;
}


.trackPane{
    -fx-background-color: linear-gradient(rgba(221,221,240,1) 0%, rgba(31,140,162,1) 100%);
}

.player{
    -fx-min-height: 130px;
    -fx-background-color: #030202;
}

.containerImagen {

    -fx-padding:5 0 0 0;
}


.volumeLabel{
    -fx-font-size:16px;   
}

.slider{
    -fx-cursor:hand;
    -fx-background-color: #131313;
    -fx-padding:0;
    -fx-border-style: none;
}

.timeSlider{
    -fx-padding:0;
    -fx-border-radius: 0px;
}

.slider .track{
    -fx-background-color:#969696;
    -fx-pref-height:4;
}

.slider .thumb{
    -fx-background-color: transparent;
}

.table-view {
    -fx-border-width:0px;

    -fx-background-color: #131313;
}



.table-view .filler{
    -fx-background-color: #131313;
    -fx-border-width:0px;
}

.column-header .column-header-background .filler{
    -fx-background-color: #ff33cc;
}

.table-view .column-header{
    -fx-text-fill: white;
    -fx-background-color: #131313;

}

.table-view .table-cell{
    -fx-text-fill: white;
    -fx-border-width:0px;
}

.table-row-cell:empty {
    -fx-background-color: #131313;
}
.table-row-cell:empty:hover {
    -fx-background-color: #131313;
}


.importScene{
    -fx-max-width: 1100px;
}




.table-row-cell{
    -fx-text-fill: white;
    -fx-border-width:0px;
    -fx-font-size:17px;
    -fx-background-color: #131313;
    -fx-background-radius:4px;
}



.table-view:focus{
    -fx-border-width:0px;
}


.table-row-cell:hover {
    -fx-background-color: rgb(128,128,128, 0.2);
}

.table-row-cell:selected{
    -fx-background-color:rgb(128,128,128, 0.4);
}

.column-header{
    -fx-size:60;
}

.songArtist{
    -fx-font-size: 18px;
}

.songName{
    -fx-font-size: 19px;
    -fx-font-family: "Calibri";
    -fx-font-weight: 700;
}

.volume .track{
    -fx-pref-height:20;
    -fx-background-color:#2D819D;
}

.table-view .label{
    -fx-text-fill: #cccccc;
    -fx-font-size: 20px;
    -fx-font-weight: bolder;
    -fx-padding:10px;
}

.songsLayout{
    -fx-padding:20px;
}

.headerSongsLayout{
    -fx-font-weight: bolder;
    -fx-padding:17px;
    -fx-font-size: 20px;
}


.botonControl{
    -fx-background-color: transparent;
    -fx-padding: 15px;
}




.artistasListView{
    -fx-cursor: hand;
    -fx-border-width:1px;
    -fx-border-color:white;
    -fx-border-radius:10px;
    -fx-background-color:#151515;    
    -fx-padding:2;
};

